<div mat-dialog-title>
    <h1>Members Update Form</h1>
</div>
<form [formGroup]="hotelForm" [style.width]="'100%'" (ngSubmit)="hotelRegistr()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Members ID</mat-label>
                <input matInput placeholder="Ex. 1" formControlName="id">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Members Name</mat-label>
                <input matInput placeholder="Ex. Taj hotel" formControlName="name">
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Members Role</mat-label>
                <input matInput type="text" placeholder="Ex. Angular Developer" formControlName="role">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Contact Numbers</mat-label>
                <input matInput type="number" placeholder="Ex. 8857822354" formControlName="contactNumber">
            </mat-form-field>
        </div>
        
        
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button color="primary">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>